<!--------------------------------------------------------------------------------------------------------------------->
<!-- App                                                                                                             -->
<!--------------------------------------------------------------------------------------------------------------------->

<template>
	<div id="app">
		<site-header></site-header>
		<router-view></router-view>
	</div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss">
	#app {
		height: calc(100% - 64px);
	}
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
	//------------------------------------------------------------------------------------------------------------------

	// Services
	import stateSvc from './services/state';

	// Components
	import SiteHeader from './components/header.vue';

	//------------------------------------------------------------------------------------------------------------------

	export default {
		components: {
			siteHeader: SiteHeader
		},
		data()
		{
			return { state: stateSvc.state };
		},
		provide: {
			state: stateSvc.state
		}
	}
</script>

<!--------------------------------------------------------------------------------------------------------------------->

