<template>
	<div class="sk-chasing-dots">
		<div class="sk-child sk-dot1"></div>
		<div class="sk-child sk-dot2"></div>
	</div>
</template>

<script type="text/ecmascript-6">
    export default {}
</script>
