<template>
	<div class="sk-double-bounce">
		<div class="sk-child sk-double-bounce1"></div>
		<div class="sk-child sk-double-bounce2"></div>
	</div>
</template>

<script type="text/ecmascript-6">
    export default {}
</script>
