<template>
	<div class="sk-three-bounce">
		<div class="sk-child sk-bounce1"></div>
		<div class="sk-child sk-bounce2"></div>
		<div class="sk-child sk-bounce3"></div>
	</div>
</template>

<style rel="stylesheet/scss" lang="sass">
	.sk-three-bounce
	{
		.sk-child {
			background-color: lighten(#ffeb3b, 25%);
		}
	}
</style>

<script type="text/ecmascript-6">
    export default {}
</script>
