<template>
	<div class="sk-wandering-cubes">
		<div class="sk-cube sk-cube1"></div>
		<div class="sk-cube sk-cube2"></div>
	</div>
</template>

<script type="text/ecmascript-6">
    export default {}
</script>
