//----------------------------------------------------------------------------------------------------------------------
// App Theme
//----------------------------------------------------------------------------------------------------------------------

@import "utilities";
@import "overrides";

//----------------------------------------------------------------------------------------------------------------------

.center {
	margin-left: auto;
	margin-right: auto;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

//----------------------------------------------------------------------------------------------------------------------
